body{
	background: #f5f5f5;
}
.cont{
	background: #FFFFFF;
	position: relative;
	width: 100%;
	height: 6.2rem;
	margin: 0.64rem 0;
	box-shadow: 5px 5px 5px #e5eaee;
}
.cont img{
	width: 4.68rem;
	height: 4.16rem;
	position: absolute;
	left: 0.64rem;
	top: 1rem;
}
.cont p:first-of-type{
	font-size: 1.2rem;
	color: #363636;
	position: absolute;
	left: 6.44rem;
	top: 1.44rem;
}
.cont p:last-of-type{
	font-size: 0.88rem;
	color: #9f9f9f;
	position: absolute;
	left: 6.44rem;
	bottom: 1.44rem;
}
.cont button{
	height: 2rem;
	width: 6rem;
	font-size: 1.12rem;
	color: #FFFFFF;
	background: #cccccc;
	position: absolute;
	right: 0.64rem;
	bottom: 0.8rem;
	border: none;
	border-radius: 1rem;
}
.cont button.color{
	background: #68c31e;
}
